<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>

	<div th:object="${student}">
		<h2>ID: <span th:text="*{id}">0</span> </h2>
		<h2>Name: <span th:text="*{name}">abc</span> </h2>
		<h2>Marks: <span th:text="*{marks}">000</span> </h2>
		<h2>Email: <span th:text="*{email}">abc@gmail.com</span> </h2>
		<hr>	
	</div>
	
	<!-- Alternative 
	
		<h2>ID: <span th:text="${student.id}">0</span> </h2>
		<h2>Name: <span th:text="${student.name}">abc</span> </h2>
		<h2>Marks: <span th:text="${student.marks}">000</span> </h2>
		<h2>Email: <span th:text="${student.email}">abc@gmail.com</span> </h2>
		<hr>
	-->

</body>
</html>