<!DOCTYPE html>
<html>
<head>

<meta charset="ISO-8859-1">
<title>Home Page</title>
<link rel="stylesheet" th:href="@{/css/style.css}" />

</head>
<body>
	<div th:replace="navbar.html :: navbar"></div>
	<div class="container">
		<h2>Home Page</h2>
		<table border="1" cellpadding="5px">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Email</th>
					<th>Update</th>
					<th>Delete</th>

				</tr>
			</thead>
			<tbody>
				<tr th:each="emp : ${employees}">
					<td th:text="${emp.id}">1</td>
					<td th:text="${emp.firstName}">ram</td>
					<td th:text="${emp.email}">ram@gmail.com</td>
					<td><a th:href="@{/update/}+${emp.id}">
							<button class="btn-green">Update</button>
					</a></td>

					<td>

						<form th:action="@{/delete/}+${emp.id}" th:method="delete">
							<button class="btn-red" type="submit">Delete</button>
						</form>
					</td>
				</tr>

			</tbody>
		</table>
		</center>

</body>
</html>