<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Home Page</title>
</head>
<body>
	<h2>Home Page</h2>
	<table border="1">
		<thead>
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
		
			<tr th:each="emp : ${employees}">
				<th th:text="${emp.id}">1</th>
				<th th:text="${emp.firstName}">ram</th>
				<th th:text="${emp.email}">ram@gmail.com</th>
			</tr>
			
		</tbody>
	</table>
	
	<h4><a th:href="@{/register}">Add Employee</a></h4>

</body>
</html>